<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - pagina inicial</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Gerenciador de tarefas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-app">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<p>Ola, seja bem vindo ao Gerenciador de Tarefas!</p>
		<p th:text="${mensagem}"></p>
	</div>
		
	<script src="/webjars//jquery/3.4.1/jquery.min.js"> </script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"> </script>
</body>
</html>